@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="rounded-3" src="/imgs/LogoTrabalho.jpg" alt="logo" width="150" height="150"/>
    <h1 class="mt-5">Seja Bem-Vindo</h1>
    <h2 class="mt-5">Realize seu agendamento no botão abaixo:</h2>
    <a asp-controller="Agendamento" asp-action="Agendar" class="btn btn-danger mt-5">Agende aqui</a>
</div>
