@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
    <img class="rounded-3" src="/imgs/LogoTrabalho.jpg" alt="logo" width="150" height="150" />
    <h1 class="mt-4">Contato:</h1>
    <h4>(16) 999999-0000</h4>
    <h2 class="mt-4">Endereço:</h2>
    <h4>Rua Professora Ana Ramos de Carvalho,85 Jaboticabal/SP</h4>
    <h2 class="mt-4">E-mail:</h2>
    <h4>corecorteecia@gmail.com</h4>
</div>
