<div class="text-center mt-5">
    <img class="rounded-3" src="/imgs/LogoTrabalho.jpg" alt="logo" width="150" height="150" />
    <h1 class="mt-4">Agendamento Confirmado!</h1>
    <h2>Agradecemos pela preferência</h2>
    <h3>Qualquer dúvida consulte a aba contato acima.</h3>
    <h3>Lembre-se de comparecer com 5 minutos de antecedência</h3>
</div>
